.getstats-container {
  padding: 60px 80px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  width: 900px;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.getstats-loading {
  font-size: 24px;
}

.getstats-error {
  font-size: 24px;
}

.getstats-list {
  max-height: 500px;
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
  flex: 1;
}

.getstats-player {
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #eee;
}
